@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Circe-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Circe-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 350;
    src: url('../fonts/Circe-Light.woff') format('woff');
}

@font-face {
    font-family: 'Museo Cyrl';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Museo\ Cyrl\ W00\ 900.woff') format('woff');
}

@font-face {
    font-family: 'Museo Cyrl';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Museo\ Cyrl\ 700.woff') format('woff');
}