.types {
    padding: int(40,64) 0;
    background: url('../img/types/bg.jpg') center center / cover no-repeat;
    &__title {
        color: #fff;
        text-transform: uppercase;
        span {
            text-transform: initial;
        }
    }
    &__subtitle {
        margin-top: 16px;
        color: #FFFFFF;
    }
    &__wrapper {
        margin-top: 32px;
        display: grid;
        grid-template-columns: 57% auto;
        gap: 29px;
        justify-content: center;
    }
    &__block {
        padding: int(25,40) int(15,40);
        background: url('../img/types/truck.png') right bottom -10px / 55% no-repeat, #fff;
        &-title {
            font-weight: 700;
            font-size: int(19,22);
            line-height: 125%;
            text-transform: uppercase;
        }
        &-subtitle {
            margin-top: 8px;
            max-width: 444px;
        }
        span {
            display: block;
            margin-top: 16px;
            font-weight: 700;
            line-height: 125%;
        }
        p {
            font-weight: 700;
            line-height: 125%;
            color: #1964AA;
        }
    }
    &__items {
        margin-top: 31px;
        &-title {
            font-weight: 700;
            font-size: int(19,22);
            line-height: 125%;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-images {
            margin-top: 16px;
            display: grid;
            grid-template-columns: repeat(6, max-content);
            justify-content: space-between;
            row-gap: 24px;
        }
    }
    &__right {
        background: #FFFFFF;
        box-shadow: 0px 2px 32px rgba(60, 107, 116, 0.15);
        padding: int(20,24) int(15,24);
    }
    .form {
        &__inputs {
            align-items: center;
        }
        .button {
            margin-top: -10px;
            width: 284px;
        }
    }
}

@media (max-width: 991px) {
    .types__items-images {
        img {
            width: 45px;
        }
    }
}

@media (max-width: 800px) {
    .types__wrapper {
        grid-template-columns: auto;
    }
    .types .form__input {
        display: none;
    }
    .types {
        .button-desktop {
            display: none;
        }
        .button-mobile {
            display: block;
        }
        .form__policy {
            display: none;
        }
    }
}

@media (max-width: 575px) {
    .types__block {
        background: url("../img/types/truck.png") right bottom -10px/50% no-repeat,#fff;
    }
}